<div class="signup">
    <% if @user.errors.any? %>
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card-panel red lighten-2">
              <span class="white-text"></span>
        <strong><%= pluralize(@student.errors.count, "error") %></strong>
              prohibited your profile from being created
              <ul>
                  <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
              </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">Sign up!</h3>
        </div>
    </div>
    <div class="row">
        <%= form_for @user, :class => "col s12" do |f| %>
          <div class="row">
            <div class="input-field col s6">
              <%= f.text_field :first_name, :id => "first_name", :required => true, :class => "validate" %>
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <%= f.text_field :last_name, :id => "last_name", :required => true, :class => "validate" %>
              <label for="last_name">Last Name</label>
            </div>
          </div>
          
          <div class="row">
            <div class="input-field col s12">
              <%= f.email_field :email, :id => "email_inline", :required => true, :class => "validate" %>
              <label for="email_inline">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.password_field :password, :id => "password", :required => true, :class => "validate" %>
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.password_field :password_confirmation, :id => "password_c", :required => true, :class => "validate" %>
              <label for="password_c">Confirm Password</label>
            </div>
          </div>
          
          <div class="row">
              <p class="col s6">
                <label>
                    <input type="checkbox" class="filled-in" required="true" />
                    <span>I agree to terms and conditions.</span>
                </label>
              </p>
              <div class="input-field col s6">
                  <%= f.submit "Sign Up", :class => "waves-effect waves-light btn", :style => "background-color: #0087ff;" %>
              </div>
          </div>
        <% end %>
    </div>
</div>