<div class="row signup">
    <div class="col s12">
        <h3 class="center-align">Sign up!</h3>
    </div>
</div>




<div class="row">
    <%= form_for @user, html: {class: "col s12"} do |f| %>
      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :first_name, :id => "first_name", :required => true, :class => "validate" %>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <%= f.text_field :last_name, :id => "last_name", :required => true, :class => "validate" %>
          <label for="last_name">Last Name</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <%= f.email_field :email, :id => "email_inline", :required => true, :class => "validate" %>
          <label for="email_inline">Email</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password, :id => "password", :required => true, :class => "validate" %>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password_confirmation, :id => "password_c", :required => true, :class => "validate" %>
          <label for="password_c">Confirm Password</label>
        </div>
      </div>
      <div class="row">
          <p class="col s6">
            <label>
                <input type="checkbox" class="filled-in" required="true" checked="checked" />
                <span>I agree to terms and conditions.</span>
            </label>
          </p>
          <div class="input-field col s6">
              <%= f.submit "Sign Up", :class => "waves-effect waves-light btn", :style => "color:white !important;" %>
          </div>
      </div>
    <% end %>
</div>