<!DOCTYPE html>
<html>
  <head>
    <title>CourseApp</title>
    <%= csrf_meta_tags %>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <main class="container">
      <%= yield %>  
    </main>
    <%= render 'layouts/footer' %>
    
  </body>
</html>
